.root {
  display: flex;
  align-items: center;
  padding: .5em;
}

@media screen and (width > 900px) {
  .root>*:nth-child(n+1) {
    width: 25%;
  }

  .root *:nth-child(2) {
    width: 50%;
  }
}

.logo {
  margin: 0;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1em;
}