.root {
  display: flex;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;

  height: var(--header-height)
}

@media screen and (width > 900px) {
  .root>*:nth-child(n+1) {
    width: 25%;
  }

  .root *:nth-child(2) {
    width: 50%;
  }
}

@media screen and (width <=900px) {
  .root {
    justify-content: space-between;
  }
}

.logo {
  margin: 0;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 1em;
}

.userWrapper {
  display: flex;
  justify-content: flex-end;
}