.root {
  z-index: 1002;
  position: fixed;
  width: 50vw;
  height: 90vh;
  padding: 1em;
  box-sizing: border-box;

  top: 50%;
  left: 50%;

  transform: translate(-50%, calc(-50% + var(--offsetY)));

  background: var(--primary-color);
}