.root {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 30px;
  max-width: 500px;
  flex-grow: 1;
}

.error {
  color: var(--error-color);
}