a.root {
  text-decoration: none;
}

button.root {
  border: none;
  background: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  padding: 0;
}

.root {
  color: var(--text-primary-color);
  margin-bottom: .5em;
  transition: transform var(--regular-transition)
}

.root:hover {
  transform: translateX(1em);
}