.root {
  background: var(--secondary-color);
  color: var(--primary-text-color);
  border: none;
  padding: 1em 1.5em;
  border-radius: 1.5em;
  font-family: inherit;
  font-weight: var(--input-font-weight);
  display: flex;
  align-items: center;
  gap: .5em;
}

.fixed {
  position: fixed;
  --distance: 2rem;
  bottom: var(--distance);
  right: var(--distance);
}