.root {
  color: var(--primary-text-color);
}

.content {
  display: flex;
  justify-content: space-between;
}

.root svg {
  fill: var(--primary-text-color)
}

.content>* {
  margin: 0;
  margin-bottom: 1rem;
}

.socialIcons>* {
  margin-right: .5rem;
}