.root {
  display: flex;
  gap: 1em;
  align-items: center;
  height: var(--header-height);
  padding: 1em;
  box-sizing: border-box;
}

.root>* {
  padding: 0;
}

.root>*:first-child {
  width: 100%;
}

.root>*:nth-child(2) {
  min-width: min-content;
  max-width: min-content;
}