#root {
    display: grid;
    grid-template-rows: 1fr 2fr;

    height: 100vh;
    width: 40rem;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#title-wrapper {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 4rem;
}

#title-wrapper>div {
    position: relative;
    display: flex;
    align-items: center;
}

#title-wrapper>div>svg {
    cursor: pointer;
    padding-right: 1rem;
}

#title-wrapper #main-block>.stretch {
    width: 100%;
}

#main-block>*:not(:last-child) {
    margin-bottom: 30px;
}

#main-block>div.section>*:not(:last-child) {
    margin-bottom: 10px;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}

.slide-in {
    animation: .5s ease-out 0s slideIn;
}

.text {
    font-weight: var(--input-button-font-weight);
    font-size: var(--input-button-font-size);
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .text {
        max-width: 40rem;
    }

    #root {
        width: 80%;
    }
}

@media screen and (min-width: 900px) {
    #title-wrapper>div>svg {
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 1rem;

    }
}