#darkness, #drawer {
    position: fixed;
}

#drawer {
    background: var(--post-grey-color);
    top: 0;
    height: 100%;
    padding: 2.5em;
    box-shadow: var(--default-shadow);
    z-index: 200;
    left: -100%;
    transition: 0.3s ease-in-out;
}

#drawer.enabled {
    left: 0;
}