@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Manrope', sans-serif;
}

html {
    height: 100%;
}

body {
    min-width: min-content;
    background: black;
}


#main-content {
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: stretch;
    overflow: hidden;
    min-height: 750px;
}

.logo {
    font-weight: 800;
}

#tagline {
    font-size: 96px;
    display: flex;
    align-items: center;
}

#buttons-wrapper
{
    font-size: 0;
    margin-top: 30px;
}

#buttons-wrapper > div {
    font-size: 24px;
    display: inline-block;
    padding: 13px;
    font-weight: 600;
    cursor: pointer;
    --text-color: white;
    --background-color: black;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color ease-in-out 0.33s, color ease-in-out 0.33s;
}

#buttons-wrapper > div:first-child
{
    --text-color: black;
    --background-color: white;
    background-color: var(--background-color);
    color: var(--text-color);
    margin-right: 24px;
}

#buttons-wrapper > div:hover {
    color: var(--background-color);
    background-color: var(--text-color);
}

#illustrations {
    width: 50%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@keyframes float {

    50% {
        transform: translateY(var(--translate-len));
    }
}

.textbox:nth-child(1)
{
    --translate-len: -5px;
}
.textbox:nth-child(2)
{
    --translate-len: -10px;
    align-self: flex-end;
}
.textbox:nth-child(3)
{
    --translate-len: -5px;
}

.textbox {
    animation: float 3s ease-in-out infinite;
    width: 500px;
}

#footer {
    background: white;
    color: black;
}

#social {
    font-size: 100px;
}