@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --background-text-grey-color: #A9A9A9;
    --input-grey-color: #5E5E5E;
    --post-grey-color: #242424;
    --button-grey-color: #5D5D5D;
    --comment-area-grey-color: #404040;
    --subscription-red-color: #F13B3B;

    --input-button-outline-width: 2px;
    --input-button-font-size: 18px;
    --input-button-font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Manrope', sans-serif;
}

html {
    height: 100%;
    font-size: 12px;
}

body {
    min-width: min-content;
    background: black;
}

.logo {
    font-weight: 800;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4 {
    margin-bottom: 1em;
}

h4 {
    font-weight: 600;
}