@import url('/Manrope-VariableFont_wght.ttf');

:root {
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #A9A9A9;

  --background-color: #000000;

  --primary-color: #242424;
  --secondary-color: #404040;
  --tertiary-color: #787878;

  --subscription-color: #f13b3b;

  --error-color: #c00000;

  --regular-font-size: 18px;
  --title-font-size: 48px;

  --regular-font-weight: 500;
  --input-font-weight: 600;
  --title-font-weight: 800;

  --regular-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  --regular-transition: .2s ease-out;

  --header-height: 5em;
}

@media screen and (max-width: 900px) {
  :root {
    --title-font-size: 36px;
    --header-height: 4rem;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background-color);

  min-width: min-content;
}

* {
  font-family: 'Manrope', sans-serif;
  font-size: var(--regular-font-size);
  font-weight: var(--regular-font-weight);
  color: var(--primary-text-color);
}

h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
}