#main_content {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  height: 100vh;
  align-items: stretch;
  min-height: 750px;
}

#tagline {
  font-size: 96px;
  display: flex;
  align-items: center;
}

#buttons_wrapper {
  font-size: 0;
  margin-top: 30px;
}

#buttons_wrapper>a {
  text-decoration: none;
  font-size: 24px;
  display: inline-block;
  padding: 13px;
  font-weight: 600;
  --text-color: white;
  --background-color: black;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color ease-in-out 0.33s, color ease-in-out 0.33s;
}

#buttons_wrapper>a:first-child {
  --text-color: black;
  --background-color: white;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-right: 24px;
}

#buttons_wrapper>a:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

#illustrations {
  width: 50%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@keyframes float {

  50% {
    transform: translateY(var(--translate-len));
  }
}

.textbox:nth-child(1) {
  --translate-len: -5px;
}

.textbox:nth-child(2) {
  --translate-len: -10px;
  align-self: flex-end;
}

.textbox:nth-child(3) {
  --translate-len: -5px;
}

.textbox {
  animation: float 3s ease-in-out infinite;
  width: 500px;
}

#footer {
  background: #242424;
  display: flex;
  justify-content: space-between;
  padding: 10px 10%;
  font-size: 14px;
}

#footer * ul {
  list-style-type: none;
}

#footer h3 {
  font-size: 18px;
}

#footer_logo {
  font-size: 24px;
  margin-bottom: 5px;
}

#social * {
  fill: white;
}

#social>*:not(:last-child) {
  margin-right: 10px;
}