#main_content {
  display: flex;
  justify-content: center;
}

#main_content>div {
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 8rem;
  font-weight: bolder;
}

#image_wrapper {
  position: relative;
  width: 100vh;
}

#buttons_wrapper {
  font-size: 0;
}

#buttons_wrapper>a {
  text-decoration: none;
  font-size: 2rem;
  display: inline-block;
  padding: .5em 1em;
  font-weight: 600;
  --text-color: white;
  --background-color: black;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color ease-out 0.2s, color ease-out 0.2s;
}

#buttons_wrapper>a:first-child {
  --text-color: black;
  --background-color: white;
  background-color: var(--background-color);
  color: var(--text-color);
  margin-right: min(5vh, 5vw);
}

#buttons_wrapper>a:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}

#buttons_wrapper>a {
  --outline-width: 1px;
  outline: var(--outline-width) solid white;
  outline-offset: calc(var(--outline-width) * -1);
}

#footer {
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10%;
  font-size: 14px;
}

#footer>* {
  margin: 26px 13px;
}

#footer *, #footer {
  color: black;
}

#footer * ul {
  list-style-type: none;
}

#footer h3 {
  font-size: 18px;
}

#footer_logo {
  font-size: 36px;
  margin-bottom: 5px;
}

#social * {
  fill: black;
}

#social>*:not(:last-child) {
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  #image_wrapper {
    display: none;
  }
  #line {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }
}