#root {
    font-size: var(--input-button-font-size);
    font-weight: var(--input-button-font-weight);
    --trasition-config: .5s ease-in-out;
}

#root > * {
    color: var(--password-strength-level-color);
    transition: color var(--trasition-config);
}

#root::before
{
    content: '';
    display: block;
    height: 0.33em;
    background: var(--password-strength-level-color);
    transition: background-color var(--trasition-config);
}